
<h1>Edit Task</h1>

<form action="/tasks/<%= task.id %>" enctype="multipart/form-data" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="description">Task Description</label>
  <input type="text" name="description" id="description" value="<%= task.description %>">
  
  <button type="submit">Save</button>
</form>

<form method="post" action="/tasks/<%= task.id %>" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete</button>
</form>