<h1>Edit Task</h1>
<form method="post" action="/tasks/<%= task.id%>" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="put">
  <label for="Task Description">"Task Description"</label>
  <input name="description" id="Task Description" value="<%= task.description %>"></input>
  <input type="submit" value="Save"/>
</form>
