<!-- Step 1: Add a heading -->
<h1>Tasks List</h1>

<!-- Step 18: Create a link to the `/tasks/new` -->
<a href="/tasks/new">Add a new task</a>

<ul id="todos">
  <!-- Step 7 & 37: Display tasks and make each description a link to the edit page -->
  <% tasks.each do |task| %>
    <li class="task">
      <a href="/tasks/<%= task.id %>/edit"><%= task.description %></a>
    </li>
  <% end %>
</ul>

<!-- Step 13, 14, 15: Conditionally show a message when there are no TODOs -->
<% if tasks.empty? %>
  <p>There are no tasks remaining.</p>
<% end %>

