<h1>If you can dream it, you can TODO it!</h1>
<% if Task.all == [] %>
There are no tasks remaining! You should add one!
<% end %>
<ul id="todos">
  <% tasks.each do |task| %>
    <li class="task">
      <a href="/tasks/<%= task.id %>"><%= task.description %></a>
    </li>
  <% end %>
</ul>

<a href="/task/new">Add task</a>
