<h1>Add a New Task</h1>
<form method="POST" action="/tasks" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="#{env['rack.session'][:csrf]}">
  <div class="task-add">
    <label for="description">Task Description</label>
    <input type="text" name="description" id="description" required />
  </div>
  <div class="task-add">
  <input type="submit" value="Save" />
</div>
</form>
