<h1>Add a New Task</h1>

<% if err.present? %>
  <div class="error-message">
    <%= err %>
  </div>
<% end %>


<% if task %>
   <!-- Editing an existing task -->
   <form method="POST" action="/tasks/<%= task.id %>" enctype="multipart/form-data">
<input type="hidden" name="_method" value="put">
 <% else %>
   <!-- Creating a new task -->
  <form method="POST" action="/tasks" enctype="multipart/form-data">
 <% end %>
  <!-- <input type="hidden" name="authenticity_token" value="#{env['rack.session'][:csrf]}"> -->

  <div class="form-example">
    <label for="description">Task Description</label>
    <input type="text" name="description" id="description" value="<%= task&.description || ""%>" />
  </div>
  <!-- Step 23: Create a submit button, per the next test failure -->
  <div class="form-example">
    <input type="submit" value="Save" />
  </div>
  
 
</form>
<% if task %>
  <form method="POST" action="/tasks/delete/<%= task.id %>" >
    <input type="submit" value="Delete" />
  </form>
<% end %>
