<h1>Edit your task</h1>

<form method="POST" action="/tasks/<%= tasks.id %>" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="put">
<!--<form method="POST" action="/tasks" enctype="multipart/form-data"> -->

<% if flash[:error] %>
  <p> <%= flash[:error] %> </p>
<% end %>

<div >
    <label for="description">Task Description</label>
    <input type="text" id="description" name="description" value="<%= tasks.description || "" %>" />
  </div>
  <div>
    <input type="submit" value="Save" />
  </div>
</form>



<form method="POST" action="/tasks/del/<%= tasks.id %>">
    <input type="submit" value="Delete" />
</form>